.filter_label {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 2.5;
}

.filter_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.filter_input {
  padding: 5px;
  width: 200px;
  height: 20px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #b39696;
  box-shadow: 1px 1px 10px rgba(90, 179, 161, 0.5);
}
