.form {
  display: flex;
  flex-direction: column;
}

.add_btn {
  height: 30px;
  max-width: 120px;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(55, 42, 127);
  cursor: pointer;
}

.label {
  display: flex;
  flex-direction: column;
}

.label:not(:last-child) {
  margin-bottom: 20px;
}

.input {
  max-width: 200px;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #eee;
}
